<!-- Page content-->
<section class="px-5 py-5 bg-gradient-primary-to-secondary ">



    <div class="row row-cols-1 row-cols-md-2 g-2">

        <div class="col">
            <div class="contact-card">

                <h2 class="contact-title">Contact Information</h2>

                <div class="contact-item">
                    <div class="contact-icon text-gradient">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                    <div>
                        <h6>Location</h6>
                        <p>Kolkata, West Bengal</p>
                    </div>
                </div>

                <div class="contact-item">
                    <div class="contact-icon text-gradient">
                        <i class="bi bi-telephone"></i>
                    </div>
                    <div>
                        <h6>Phone</h6>
                        <p>
                            <a href="tel:+916203915491">+91 62039 15491</a>
                        </p>
                    </div>
                </div>

                <div class="contact-item">
                    <div class="contact-icon text-gradient">
                        <i class="bi bi-envelope"></i>
                    </div>
                    <div>
                        <h6>Email</h6>
                        <p>
                            <a href="mailto:shekhareful@gmail.com">
                                shekhareful&#64;gmail.com
                            </a>
                        </p>
                    </div>
                </div>

                <div class="contact-item">
                    <div class="contact-icon text-gradient">
                        <i class="bi bi-linkedin"></i>
                    </div>
                    <div>
                        <h6>LinkedIn</h6>
                        <p>
                            <a href="https://www.linkedin.com/in/shekh-areful-haqqani/" target="_blank">
                                View Profile
                            </a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="col">
            <div class="bg-light justify-content-center rounded-4 p-4">
                <div class="text-center my-2 mb-3">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                            class="bi bi-envelope"></i></div>
                    <h1 class="fw-bolder">Get in touch</h1>
                    <p class="lead fw-normal text-muted mb-0">Let's work together!</p>
                </div>
                <form [formGroup]="contactForm" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="name" id="name" type="text"
                            placeholder="Enter your name..." data-sb-validations="required" />
                        <label for="name">Full name</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.
                        </div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" formControlName="email" id="email" type="email"
                            placeholder="name@example.com" data-sb-validations="required,email" />
                        <label for="email">Email address</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is
                            required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.
                        </div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input formControlName="phone" class="form-control" id="phone" type="tel"
                            placeholder="(123) 456-7890" data-sb-validations="required" />
                        <label for="phone">Phone number</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is
                            required.
                        </div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea formControlName="message" class="form-control" id="message" type="text"
                            placeholder="Enter your message here..." style="height: 10rem"
                            data-sb-validations="required"></textarea>
                        <label for="message">Message</label>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is
                            required.
                        </div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            To activate this form, sign up at
                            <br />
                            <a
                                href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage">
                        <div class="text-center text-danger mb-3">Error sending message!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" t
                            (click)="sendMessage()">Submit</button></div>
                </form>
            </div>
        </div>

    </div>


</section>