<div class="row align-items-center">
    <div class="col-12">
        <!-- Header text content-->
        <div class="text-center mt-4 mb-4">
            <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                <div class="text-uppercase fs-5">Design &middot; Development &middot; Marketing</div>
            </div>
            <div class="fs-3 fw-light text-muted">I can help your business to</div>
            <h1 class="display-5 fw-bolder mb-5"><span class="text-gradient d-inline">Get online and grow
                    fast, leveraging Technologies</span>
            </h1>
            <!-- <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                    <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="resume.html">Resume</a>
                    <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="projects.html">Projects</a>
                </div> -->


            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" />


            <img class="devicon m-4" class="devicon mx-2"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rxjs/rxjs-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg" />



            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg" />


            <img class="devicon m-4" style="height: 5rem;"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/oracle/oracle-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" />

            <img class="devicon m-4"
                src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/amazonwebservices/amazonwebservices-original-wordmark.svg" />


            <!-- <span class="badge bg-success text-white mx-2">Marketing</span>
                <span class="badge bg-info text-white mx-2">Technlogy</span>
                <span class="badge bg-dark text-white mx-2">Product </span>
                <span class="badge bg-warning text-white mx-2">Marketing</span>
                <span class="badge bg-primary text-white mx-2">Marketing</span>
                <span class="badge bg-secondary text-white mx-2">Marketing</span> -->
        </div>
    </div>

</div>