.fs-1-2 {
  font-size: 1.2rem;
}

.fs-0-5 {
  font-size: 1rem;
}

.word-list {
  list-style-type: disc; /* • */
  padding-left: 24px;
  margin: 16px 8px 16px;
}

.word-list li {
  margin-bottom: 8px;
  line-height: 1.6;
  padding-left: 4px;
}

.project-img {
  width: 100%;
  padding: 1.5rem;
}

.skill-card {
  background: #fff;
  border: 1px solid #d8f0ea;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.08);
}

.skill-title {
  font-weight: 700;
  margin-bottom: 12px;
}

.skill-card hr {
  border: 0;
  height: 1px;
  background: #000000;
  margin-bottom: 18px;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skill-tag {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
  font-weight: 500;
//   border: 1px solid #000000;
  padding: 4px 8px;
  border-radius: 999px;
  font-size: 15px;
  transition: all 0.2s ease;
}

.skill-tag:hover {
  cursor: default;
}
