<!-- Page Content-->
<div class="px-2">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <!-- Experience Section-->
            <section class="px-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <!-- Download resume button-->
                    <!-- Note: Set the link href target to a PDF file within your project-->
                    <button class="btn btn-primary" (click)="downloadResume()">
                        <div class="d-inline-block bi bi-download me-2"></div>
                        Download Resume
                    </button>
                </div>
                <!-- Experience Card 1-->

                <div class="row">
                    <div class="col-md-12 col-lg-6 col-xl-6">
                        <div class="card shadow border-0 rounded-4 mt-4 mb-5">
                            <div class="card-body p-3">
                                <div class="text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2 fs-1-2">October 2025 - Present</div>
                                        <div class="fw-bolder fs-0-5">Software Engineer ( Freelance ) </div>
                                        <div class="text-muted">FIRST CHOICE</div>
                                        <div class="text-muted">New Delhi, India</div>
                                    </div>
                                    <div class="mt-4 fs-875">Developed ERP-MES solution for the bakery manufacturing industry that
                                        streamlines
                                        the
                                        manufacturing planning, recipe management, costing, inventory, billing, and
                                        sales
                                        tracking.
                                        Developed custom pricing logic, enabling dynamic product-level pricing
                                        strategies.
                                        Working on Recipe management with costing feature for efficient production
                                        planning.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 col-xl-6">
                        <!-- Experience Card 2-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-3">
                                <div class="text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2 fs-1-2">
                                           November 2017 - June 2019
                                        </div>
                                        <div class="fw-bolder fs-0-5">Jr. Software Engineer</div>
                                        <div class="text-muted">Elogix Software Pvt Ltd.
                                            ( <a href="https://elogixsoft.com/"
                                                target="_blank">https://elogixsoft.com/</a>
                                            )
                                        </div>
                                        <div class="text-muted">Kolkata, India</div>
                                    </div>
                                    <div class="mt-4 fs-875">
                                        Project : TNA <br><br>

                                        Developed a Single Page Application (SPA) using Angular, improving
                                        responsiveness
                                        and cross-device
                                        user experience.
                                        Implemented efficient client-side handling of document, audio, and video uploads
                                        with validation and
                                        preview support.
                                        Built reusable UI components to enhance maintainability and reduce development
                                        effort.
                                        Improved authentication workflows using JWT and OAuth2.
                                        Resolved critical bugs and optimized performance, achieving ~10% improvement.
                                        Contributed to technical documentation, code reviews, testing, and deployment
                                        processes.<br><br>

                                        Project : VIDHI<br><br>
                                        A product designed to organize, track, and analyze company resources.
                                        Developed frontend features using React.js, managing state and integrating APIs
                                        with
                                        Axios.
                                        Implemented efficient data handling for large datasets in lists and tables using
                                        strategies like lazy
                                        loading and state optimization, improving performance by ~25%.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
            <!-- Education Section-->
            <section class="px-4 mb-2">
                <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                <!-- Education Card 1-->
                <div class="card shadow border-0 rounded-4">
                    <div class="card-body">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2 fs-1-2">2017 - 2021</div>
                                    <div class="mb-2">
                                        <div class="fw-bolder fs-0-5">Adamas University</div>
                                        <div class="text-muted">Kolkata, India</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="text-muted">B.Tech</div>
                                        <div class="text-muted">Computer Science and Engineering</div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- Education Card 2-->
                <!-- <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-secondary fw-bolder mb-2">2017 - 2021</div>
                                    <div class="mb-2">
                                        <div class="small fw-bolder">ULA</div>
                                        <div class="small text-muted">Los Angeles, CA</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div class="small text-muted">Undergraduate</div>
                                        <div class="small text-muted">Computer Science</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium,
                                    voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed
                                    aliquam non voluptate corrupti excepturi maxime porro fuga.</div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </section>
            <!-- Divider-->
            <div class="pb-5"></div>
            <!-- Skills Section-->
            <section>
                <!-- Skillset Card-->
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <!-- Professional skills list-->
                        <div class="mb-5">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-tools"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional
                                        Skills</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Web
                                        Development
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">UI/UX
                                        Designing
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Frontend
                                        Development
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">API
                                        Development
                                    </div>
                                </div>
                                <div class="col mb-4 mb-md-0">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Solution
                                        Architecture</div>
                                </div>
                                <div class="col">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Database
                                        Administration</div>
                                </div>
                            </div>
                        </div>
                        <!-- Languages list-->
                        <div class="mb-0">
                            <div class="d-flex align-items-center mb-4">
                                <div
                                    class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3">
                                    <i class="bi bi-code-slash"></i>
                                </div>
                                <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages &
                                        Frameworks</span></h3>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">HTML
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">CSS
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">
                                        JavaScript</div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Angular
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">RxJs
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">
                                        TypeScript</div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">ReactJS
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Node.js
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Python
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Numpy
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Java
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Spring
                                        Framework
                                    </div>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3">
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">MySQL
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Git
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="d-flex align-items-center bg-light fw-bold rounded-4 p-3 h-100">Linux
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>